services:
  general:
    build: .devcontainer/general
    container_name: general
    volumes:
      - ./:/workspace:cached,rw
    tty: true
    stdin_open: true
    
  db:
    image: postgres:latest
    container_name: db
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d:ro

  php:
    build: ./docker/php
    container_name: php
    volumes:
      - ./src:/var/www/html

  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - db
    ports:
      - 3000:8080
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/solitario.conf:/etc/nginx/conf.d/solitario.conf:ro


volumes:
  db_data:
    driver: local
